-# = form_with url: "/systems/add_repo_id", method: :post do |f|
-#   %div.modal.fade#addRepositoryIDModal{tabindex:"-1", role:"dialog","aria-labelledby":"addRepositoryIDModalLabel","aria-hidden":"true"}
-#     %div.modal-dialog{role:"document"}
-#       %div.modal-content
-#         %div.modal-header
-#           %h5.modal-title#addRepositoryIDModalLabel Add Repository ID
-#           %button.close{type:"button", "data-bs-dismiss": "modal", "aria-label":"Close"}
-#             %span{"aria-hidden":"true"}
-#               &times;
-#         %div.modal-body
-#           = f.hidden_field :id, value: @system.id
-#           = f.select "repo_id_scheme", options_for_select(System.repo_id_schemes.excluding(:IRD))
-#           -# = f.text_field :repo_id_scheme, :class=>"form-control"
-#           = f.text_field :repo_id_value, :class=>"form-control"
-#
-#         %div.modal-footer
-#           .actions
-#             -# = link_to 'Cancel', @system, :class => 'btn btn-primary btn-sm'
-#             = f.submit 'Save', :class => 'btn btn-primary'
