%div.row
  %div.col-lg-9
    = render 'show_general', "@system": @system
    = render 'show_technical', "@system": @system
  %div.col-lg-3
    = render 'show_curation', "@system": @system
    - if policy(@system).admin?
      = render 'show_admin', "@system": @system
